
@{
    ViewData["Title"] = "Order Succeeded";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p></p>
<p></p>
<h2 style="text-align:center">Your tickets have been sent! Please check your email. </h2>
<p></p>

