@using Microsoft.AspNetCore.Identity
@inject SignInManager<GalleryDAL.Entities.UserEntity> signInManager;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - [ Axler Gallery ]</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap5.min.css" rel="stylesheet" crossorigin="anonymous">

    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="favicon.ico" />

    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>

    <link  href="~/css/site.css" rel="stylesheet"/>
</head>
<body>

    <!-- Navigation-->
    <!-- Page header-->
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <h2><a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">GalleryWeb</a></h2>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Artists" asp-action="Artists">Artists</a></li>
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Explore" asp-action="Collections">Collections</a></li>
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contacts">Contacts</a></li>
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Cart" asp-action="Cart">Cart</a></li>
                    </ul>
                    <ul class="nav navbar-nav pull-right">
                        @if (signInManager.IsSignedIn(User))
                        {
                        <div class="collapse navbar-collapse" id="navbarText">
                            <ul class="navbar-nav">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Dropdown
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdownPortfolio">
                                        <li><a class="dropdown-item" asp-area="" asp-controller="CurrentExhibitionsAdmin" asp-action="Index">Current Exhibitions</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="ExhibitionsAdmin" asp-action="Index">Exhibitions pool</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="ArtistsAdmin" asp-action="Index">Artists</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="PicturesAdmin" asp-action="Index">All Pictures</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="EmployeesAdmin" asp-action="Index">Staff</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                         <li class="nav-item">
                                <form method="post" asp-controller="Account" asp-action="Logout">
                                    <button type="submit" class="navbar-brand btn btn-link" style="width:auto">
                                        <h7>Logout @User.Identity.Name</h7>
                                    </button>
                                </form>
                         </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a asp-area="" asp-controller="Account" asp-action="Register" class="navbar-brand">Register</a>
                            </li>
                            <li class="nav-item">
                                <a asp-area="" asp-controller="Account" asp-action="Login" class="navbar-brand">Login</a>
                            </li>
                        }
                    </ul>

                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Web Galley 2021</p></div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap5.min.js"></script>
    @*<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>*@


    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
