body{
    font-family: 'Arial', sans-serif
}

.carousel-inner > .carousel-item {
    height: 600px;
}

.carousel {
    overflow: hidden
}


/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1100px) {
    .carousel-inner > .carousel-item {
        height: 350px;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .carousel-inner > .carousel-item {
        height: 250px;
    }
}


