@using GalleryBLL.Models
@model GalleryWeb.Models.Pictures
@{
    ViewData["Title"] = "[ Collections ]";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<link href="~/css/site.css" rel="stylesheet" />
<link href="~/css/portfolio.css" rel="stylesheet" />

<meta name="viewport" content="width=device-width, initial-scale=1">

<body>
    <!-- Page Content-->
    <section class="py-5">
        <div class="container">
            <!-- Page Heading/Breadcrumbs-->
            <h1>
                Looking for something in particular?
                <small>...use advanced search!</small>
            </h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="breadcrumb-item active">Advanced search</li>
            </ol>
            <!-- Content Row-->
            <div class="row">
                <!-- Sidebar Column-->
                <div class="col-lg-3 mb-4">
                    <div class="list-group">
                        <a class="list-group-item" href="index.html">Name(A->Z)</a>
                        <a class="list-group-item" href="index.html">Name(Z->A)</a>
                        <a class="list-group-item" href="index.html">Price</a>
                        <a class="list-group-item" href="index.html">Price</a>

                    </div>
                </div>
                <!-- Content Column-->
                <div class="col-lg-9 mb-4">
                    <h2>Pieces of art filtered by: </h2>
                    <section class="py-5">
                        <div class="container">
                            <div class="row">
                                @foreach (PictureModel p in Model.pics)
                                {
                                    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                                        <div class="card h-100">
                                            <a asp-controller="Explore" asp-action="ShowPicture">
                                                <img class="card-img-top" src="@p.Url" alt="@p.Name" />
                                            </a>
                                        </div>
                                    </div>
                                }


                            </div>
                            <!-- Pagination-->
                            <ul class="pagination justify-content-center">
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">«</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#!">1</a></li>
                                <li class="page-item"><a class="page-link" href="#!">2</a></li>
                                <li class="page-item"><a class="page-link" href="#!">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">»</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </section>

                </div>
            </div>
        </div>
    </section>
</body>
