@using GalleryBLL.Models
@model GalleryWeb.Models.ExhPicModel
@{
    ViewData["Title"] = "[ Collections ]";
}

<link href="style.css" rel="stylesheet" />


<body>
    <!-- Page Content-->
    <section class="py-5">
        <div class="container">
            <!-- Page Heading/Breadcrumbs-->
            <h1>
                Looking for something in particular?
                <small>...use advanced search!</small>
            </h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="breadcrumb-item active">Advanced search</li>
            </ol>
            <!-- Content Row-->
            <div class="row">
                <!-- Sidebar Column-->
                <div class="col-lg-3 mb-4">
                    <div class="list-group">
                        <a class="list-group-item" href="index.html">Home</a>
                        <a class="list-group-item" href="about.html">About</a>
                        <a class="list-group-item" href="services.html">Services</a>
                        <a class="list-group-item" href="contact.html">Contact</a>
                        <a class="list-group-item" href="portfolio-1-col.html">1 Column Portfolio</a>
                        <a class="list-group-item" href="portfolio-2-col.html">2 Column Portfolio</a>
                        <a class="list-group-item" href="portfolio-3-col.html">3 Column Portfolio</a>
                        <a class="list-group-item" href="portfolio-4-col.html">4 Column Portfolio</a>
                        <a class="list-group-item" href="portfolio-item.html">Single Portfolio Item</a>
                        <a class="list-group-item" href="blog-home-1.html">Blog Home 1</a>
                        <a class="list-group-item" href="blog-home-2.html">Blog Home 2</a>
                        <a class="list-group-item" href="blog-post.html">Blog Post</a>
                        <a class="list-group-item" href="full-width.html">Full Width Page</a>
                        <a class="list-group-item active" href="sidebar.html">Sidebar Page</a>
                        <a class="list-group-item" href="faq.html">FAQ</a>
                        <a class="list-group-item" href="404.html">404</a>
                        <a class="list-group-item" href="pricing.html">Pricing Table</a>
                    </div>
                </div>
                <!-- Content Column-->
                <div class="col-lg-9 mb-4">
                    <h2>Pieces of art filtered by: </h2>
                    <section class="py-5">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                                    <div class="card h-100">
                                        <a href="#!"><img class="card-img-top" src="https://via.placeholder.com/700x400" alt="..." /></a>
                                        <div class="card-body">
                                            <h4 class="card-title"><a href="#!">Project One</a></h4>
                                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                                    <div class="card h-100">
                                        <a href="#!"><img class="card-img-top" src="https://via.placeholder.com/700x400" alt="..." /></a>
                                        <div class="card-body">
                                            <h4 class="card-title"><a href="#!">Project Two</a></h4>
                                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                                    <div class="card h-100">
                                        <a href="#!"><img class="card-img-top" src="https://via.placeholder.com/700x400" alt="..." /></a>
                                        <div class="card-body">
                                            <h4 class="card-title"><a href="#!">Project Three</a></h4>
                                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos quisquam, error quod sed cumque, odio distinctio velit nostrum temporibus necessitatibus et facere atque iure perspiciatis mollitia recusandae vero vel quam!</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                                    <div class="card h-100">
                                        <a href="#!"><img class="card-img-top" src="https://via.placeholder.com/700x400" alt="..." /></a>
                                        <div class="card-body">
                                            <h4 class="card-title"><a href="#!">Project Four</a></h4>
                                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                                    <div class="card h-100">
                                        <a href="#!"><img class="card-img-top" src="https://via.placeholder.com/700x400" alt="..." /></a>
                                        <div class="card-body">
                                            <h4 class="card-title"><a href="#!">Project Five</a></h4>
                                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                                    <div class="card h-100">
                                        <a href="#!"><img class="card-img-top" src="https://via.placeholder.com/700x400" alt="..." /></a>
                                        <div class="card-body">
                                            <h4 class="card-title"><a href="#!">Project Six</a></h4>
                                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque earum nostrum suscipit ducimus nihil provident, perferendis rem illo, voluptate atque, sit eius in voluptates, nemo repellat fugiat excepturi! Nemo, esse.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                                    <div class="card h-100">
                                        <a href="#!"><img class="card-img-top" src="https://via.placeholder.com/700x400" alt="..." /></a>
                                        <div class="card-body">
                                            <h4 class="card-title"><a href="#!">Project Seven</a></h4>
                                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                                    <div class="card h-100">
                                        <a href="#!"><img class="card-img-top" src="https://via.placeholder.com/700x400" alt="..." /></a>
                                        <div class="card-body">
                                            <h4 class="card-title"><a href="#!">Project Eight</a></h4>
                                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius adipisci dicta dignissimos neque animi ea, veritatis, provident hic consequatur ut esse! Commodi ea consequatur accusantium, beatae qui deserunt tenetur ipsa.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Pagination-->
                            <ul class="pagination justify-content-center">
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">«</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#!">1</a></li>
                                <li class="page-item"><a class="page-link" href="#!">2</a></li>
                                <li class="page-item"><a class="page-link" href="#!">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">»</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </section>

                </div>
            </div>
        </div>
    </section>
</body>
